<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artistrie</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Welcome to Artistrie <small>A place for artists to compete for attention and gain the recognition they deserve</small></h1>
			</div>
		</div>
	</div>
	<div ng-app='myApp'>
		<div ng-controller='ExampleCtrl'>
	  		<p>Value from ExampleCtrl:</p>
	  		<p>{{ exampleValue }}</p>
		</div>
	</div>	
</body>
</html>