<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artistrie</title>
</head>
<body>
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1>Welcome to Artistrie <small>A place for artists to compete for attention and gain the recognition they deserve</small></h1>
			</div>
		</div>
	</div>
	<div ng-app='myApp'>
	<p>Value from ExampleCtrl:</p>
		<div ng-controller='ExampleCtrl'>
	  	<div ng-repeat="post in posts">	
			<p>{{post.title}}</p>
			<p>{{post.artist}}</p>
		</div>
		</div>
	</div>	
</body>
</html>	